<header class="header">
    <div class="header-logo">
        <a href="{{ path('index') }}" class="">
            <h1 class="logo">Otzovik</h1>
        </a>
    </div>
    <div class="header-links">
        {% if app.user %}
            <p>Привет, {{ app.user.name }}</p>
            <a href="{{ path('app_logout') }}">Выйти</a>
        {% else %}
            <a href="{{ path('app_login') }}">Войти</a>
            <a href="{{ path('app_register') }}">Регистрация</a>
        {% endif %}
    </div>
</header>