{% extends 'base.html.twig' %}
{% block body %}
{#    footer#}
    {{ include('default/header.html.twig') }}
{#    block-main#}
    <div class="container">
        <div class="row mt-5 mb-3 justify-content-center">
            <h1 class="display-4 text-light">
                <span class="logo_red">В</span>се продукты
            </h1>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Text</th>
                <th>Create_at</th>
                <th>Update_at</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for prod in products %}
                <tr>
                    <td>{{ prod.id }}</td>
                    <td>{{ prod.title }}</td>
                    <td>{{ prod.text }}</td>
                    <td>{{ prod.createAt ? prod.createAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ prod.updateAt ? prod.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td><img src="{{ asset('assets/main/img/uploads/' ~ prod.image) }}" width="100px" height="100px"></td>
                    <td>
                        <a href="{{ path('product_show', {'id': prod.id}) }}">show</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{#    footer#}
    {{ include('default/footer.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ include('default/scripts.html.twig') }}
    <script src="{{ asset('assets/main/js/main.js') }}"></script>
{% endblock %}